       body{
       
            max-width: 600px;
            margin: auto;
            background-color: whitesmoke;
            font-size: 22px
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
          }

          .centertxt {
            text-align: center;
          }

          #title {
            text-align: center;
          }
          .box-one {
            background-color: beige;
          }
          
          .box-two{
            background-color: beige;
            border: 5px solid black;    
            padding: 15px;
          }
