       body{
       
            max-width: 600px;
            margin: auto;
            background-color: #0be881;
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
          }

          .centertxt {
            text-align: center;
          }

          #title {
            text-align: center;
          }
